body {
  font-family: georgia, serif;
}
ul {
  list-style: none;
}
label {
  font-weight: bold;
  width: 5em;
  display: inline-block;
}

.row {
  clear: both;
  overflow: hidden;
}
.left {
   float: left;
}

.photo {
  margin-right: 1em;
  margin-bottom: 1em;
}

.droplette {
  position: absolute;
  bottom: 0;
  right: 0;
}
